@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.page-title {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__titles-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__h1 {
        font-family: $primary-font;
        font-size: pxToRem(32);
        font-weight: 400;
        color: #F3F3F3;
        margin: 0;
    }

    &__h3 {
        margin: 0;
        font-family: $primary-font;
        font-size: pxToRem(16);
        font-weight: 500;
        color: #CACACA;
    }
}