@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;



.home-cards{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-greeting{
    background: rgba(0,0,0,0);
    height: pxToRem(100);
    font-size: large;
}

.card-analytics{
    background: $color-black;
    height: pxToRem(100);
}